version: "3.8"

services:
  app-prod:
    container_name: huang_yirui_coding_assignment12
    build:
      context: .
      dockerfile: Dockerfile.prod
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 8083:80
